/* .main{
    background-color: blueviolet;
    border-radius: 12px;
    width: 600px;
    height: 500px;
    margin: 102px auto;
    display: flex;
    justify-content: ;
    align-items: center;
}
.card{
    background-color: white;
    border-radius: 12px;
    width: 100px;
    height: 100px;
    margin: 5px 10px;
} */
.main{
    display: flex;
}
.inpu{
    border-radius: 12px;
    width: 600px;
    padding: 30px 30px;
    font-size: 40px;
    position: relative;
    /* display: flex; */
}
.p{
    position: absolute;
    right: 0;
}