
  @import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
  body{
    font-style: italic;
  }
p{
    color: red;
    font-size: 25px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Tourney', cursive;
    font-weight: lighter;
    /* text-decoration: line-through; */
    font-style: normal;
}

.main{
    text-align: center;
    border: 0px solid green;
    width: 100px;
    padding: 50px;
    margin: 20px auto;
}